@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,800;1,600&display=swap');
body{
      font-family: 'Work Sans', sans-serif;
}
.icon-bar{
      color: red;
      padding: 0 10px;
}
.max-width{
      max-width: 1280px;
      margin: 0 auto;
}
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.nav-container{
      display: flex;
      max-width: 1280px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 40px 0;
}
.nav-container{
      display: flex;
      max-width: 1280px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 40px 10px;
}
.logo-container{
      display: flex;
}
.logo-container h1{
      font-size: 40px;
      
}
.logo-container img{
      width: 86.041px;
      height: 40px;
      flex-shrink: 0;
}
/* menu section */
.menu-container{
      display: flex;
}
.menu-container ul{
     display: flex;
     
      align-items: center;
}
.menu-container li{
      list-style: none;
      padding: 0 20px;
}
.menu-container a{
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      font-weight: bold;
      color: #3C354F;

}
.icone-first-div{
      border-radius: 8px;
      background: rgba(11, 2, 35, 0.10);
      padding: 20px 15px;
} 
/* =================banner-section */
.banner-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 10px;
      gap: 40px;

}
.banner-title-section{
      padding-bottom: 100px;
}
.banner-title-section h1{
      font-size: 60px;
      font-weight: 800;
      padding: 10px 0;
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.banner-title-section h2{
      color: #0B0223;
      font-size: 40px;
      font-weight: 600;
}
.banner-title-section p{
      color: #534C64;
      font-size: 20px;
      padding: 15px 0;
}
.banner-icon{
      color:#ff42a5 ;
      padding-right: 15px;
}

.banner-img-section{
     
}
.banner-img-section img{
      max-width: 100%;
}
.button{
      display: inline-flex;
      align-items: flex-start;
      gap: 10px;
      border-radius: 48px;
      font-size: 20px;
      font-weight: 600;
      background-color: #ff42a5;
      border: none;
      color: #fff;
}
/* gamer-section */
.gamer-section{
      background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
      padding: 30px 10px;
   
}
/* ================================== */
.main-area-title-h1{
      color: #F948B2;
}


